<div class="feed feed--tag">
  {{#foreach posts}}
    {{!-- The tag below includes the markup for each post - partials/post_card.hbs --}}
    {{> "post_card"}}
  {{/foreach}}

  {{pagination}}
</div>
